@import "node_modules/normalize.css/normalize";

* {
    box-sizing: border-box;
}

body {
    overflow: hidden;

    height: 100vh;
    padding: 20px;

    color: white;
    background-color: white;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .9em;
    font-weight: 300;
}

// Links
a {
    text-decoration: none;

    color: white;

    &:hover {
        text-decoration: underline;
    }
}

// Headings
h1, h2 {
    margin-top: 0;

    font-weight: 300;
}

// Styles
.pao-wrapper {
    height: 100%;

    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pao-content {
    width: percentage(2/5);
    margin-left: percentage(1/5);
    padding-top: 140px;

    $animation-duration: .5s;

    @media screen and (max-width: 600px) {
        width: 100%;
        margin: 0;
        padding: 50px;
    }

    .pao-section {
        margin-bottom: 50px;
    }

    h1, h2, .fadein {
        animation-duration: $animation-duration;

        animation-fill-mode: both;
    }

    h1, h2 {
        animation-name: fadein-drop;
        animation-timing-function: ease-out;
    }

    h2 {
        animation-delay: $animation-duration;
    }

    .fadein {
        animation-name: fadein;
        animation-delay: 2 * $animation-duration;
    }
}

.pao-description {
    @media screen and (max-height: 600px) {
        display: none;
    }
}

.pao-links {
    a {
        transition: opacity 200ms;

        opacity: .5;

        &:hover {
            text-decoration: none;

            opacity: 1;

            img {
                animation: heartbeat 2s infinite;
            }
        }
    }

    img {
        width: 40px;
    }
}

// Animation
@keyframes fadein-drop {
    0% {
        transform: translateY(-100%);

        opacity: 0;
    }

    100% {
        transform: translateY(0);

        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes heartbeat {
    0% {
        transform: scale3d(1, 1, 1);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(1, 1, 1);
    }

    60% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    80% {
        transform: scale3d(1, 1, 1);
    }
}